In [ ]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd
import os

In [31]:
df = pd.read_csv(os.path.join("Preprocessed_data.csv"), nrows= 500)
df.head()

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada

In [ ]:
book_df = pd.DataFrame(df["book_title"])
book_df

In [ ]:
book_df_groups = df.groupby(['book_title'])
book_df_groups

In [ ]:
group = book_df_groups.count()
group

In [ ]:
group.sort_values(["user_id"], ascending= False)

In [ ]:
# 11 is the median number of times a book is bought by our 278,858 users
# 48.7 is the mean number of times a book is bough by our 278,858 users
group["user_id"].mean()

In [ ]:
# Holes is a book bought 49 (mean) times
# Blind Date is a book bought 11 times

mean_books = group[group["user_id"] == 11]
mean_books

Building a Book-User Matrix

In [32]:
user_book_df = df.drop(["Unnamed: 0", "location","age", "isbn", "rating", "book_author", "year_of_publication", "publisher", "img_m", "img_l", "img_s", "Summary", "city", "Language","Category", "state", "country"], axis=1)
user_book_df

     user_id           book_title
0          2  Classical Mythology
1          8         Clara Callan
2      11400         Clara Callan
3      11676         Clara Callan
4      41385         Clara Callan
..       ...                  ...
495   260897        The Testament
496   261378        The Testament
497   261829        The Testament
498   262846        The Testament
499   263163        The Testament

[500 rows x 2 columns]

In [36]:
user_matrix = pd.get_dummies(user_book_df["user_id"], prefix='user')

In [39]:
combined_df = pd.concat([user_book_df,user_matrix], axis=1)
combined_df.drop(['user_id'], axis=1, inplace=True)

In [41]:
groups = combined_df.groupby('book_title')
groups

In [42]:
book_matrix = groups.sum()
book_matrix.head()

,user_2,user_8,user_9,user_243,user_388,user_2954,user_2977,user_3329,user_3363,user_5760,...,user_259778,user_259846,user_260897,user_261378,user_261829,user_262846,user_263163,user_263256,user_263325,user_274634
book_title,,,,,,,,,,,,,,,,,,,,,
A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series),0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
Clara Callan,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Classical Mythology,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Decision in Normandy,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
from keras.utils import to_categorical
one_hot_y = to_categorical(user_book_df['user_id'])
one_hot_y

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)