In [101]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd
import os

In [102]:
df = pd.read_csv(os.path.join("Preprocessed_data.csv"))
df.head()

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada

In [103]:
book_df = pd.DataFrame(df["book_title"])
book_df

                                                book_title
0                                      Classical Mythology
1                                             Clara Callan
2                                             Clara Callan
3                                             Clara Callan
4                                             Clara Callan
...                                                    ...
1031170  As Hogan Said . . . : The 389 Best Things Anyo...
1031171  All Elevations Unknown: An Adventure in the He...
1031172  Why stop?: A guide to Texas historical roadsid...
1031173  The Are You Being Served? Stories: 'Camping In...
1031174  Dallas Street Map Guide and Directory, 2000 Ed...

[1031175 rows x 1 columns]

In [104]:
book_df_groups = df.groupby(['book_title'])
book_df_groups

In [107]:
group_with_one = book_df_groups.count()
group = group_with_one[group_with_one["user_id"] > 556]
group

,Unnamed: 0,user_id,location,age,isbn,rating,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
book_title,,,,,,,,,,,,,,,,,,
A Painted House,838,838,838,838,838,838,838,838,838,838,838,838,838,838,838,836,827,808
Angels & Demons,670,670,670,670,670,670,670,670,670,670,670,670,670,670,670,667,663,660
Bridget Jones's Diary,815,815,815,815,815,815,815,815,815,815,815,815,815,815,815,809,801,788
Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,740,740,740,740,740,740,740,740,740,740,740,740,740,740,739,731,724
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback)),575,575,575,575,575,575,575,575,575,575,575,575,575,575,575,572,565,557
House of Sand and Fog,588,588,588,588,588,588,588,588,588,588,588,588,588,588,588,584,583,568
Life of Pi,664,664,664,664,664,664,664,664,664,664,664,664,664,664,664,657,650,651
Snow Falling on Cedars,662,662,662,662,662,662,662,662,662,662,662,662,662,662,662,659,655,638
Summer Sisters,573,573,573,573,573,573,573,573,573,573,573,573,573,573,573,572,567,552
The Da Vinci Code,898,898,898,898,898,898,898,898,898,898,898,898,898,898,898,891,890,882
The Firm,569,569,569,569,569,569,569,569,569,569,569,569,569,569,569,567,560,556
The Girls' Guide to Hunting and Fishing,573,573,573,573,573,573,573,573,573,573,573,573,573,573,573,569,561,552
The Lovely Bones: A Novel,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1291,1273,1227
The Nanny Diaries: A Novel,828,828,828,828,828,828,828,828,828,828,828,828,828,828,828,822,818,800
The Notebook,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,645,640,623
The Pelican Brief,581,581,581,581,581,581,581,581,581,581,581,581,581,581,581,579,574,568
The Pilot's Wife : A Novel,568,568,568,568,568,568,568,568,568,568,568,568,568,568,568,566,561,538
The Red Tent (Bestselling Backlist),723,723,723,723,723,723,723,723,723,723,723,723,723,723,723,721,715,693
The Secret Life of Bees,774,774,774,774,774,774,774,774,774,774,774,774,774,774,774,770,762,751
The Summons,655,655,655,655,655,655,655,655,655,655,655,655,655,655,655,651,648,627
The Testament,617,617,617,617,617,617,617,617,617,617,617,617,617,617,617,612,609,599
Where the Heart Is (Oprah's Book Club (Paperback)),585,585,585,585,585,585,585,585,585,585,585,585,585,585,585,583,576,559
Wild Animus,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2494,2414,2473

In [108]:
group.sort_values(["user_id"], ascending= False)
group.reset_index(level=0, inplace=True)

In [109]:
# 11 is the median number of times a book is bought by our 278,858 users
# 48.7 is the mean number of times a book is bough by our 278,858 users
group["user_id"].median()

662.0

In [111]:
# Median books: Life of Pi
# for Over 834: The Lovely Bones: A Novel

mean_books = group[group["user_id"] > 662]
mean_books.sort_values(['user_id'], ascending= True)

,book_title,Unnamed: 0,user_id,location,age,isbn,rating,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
6,Life of Pi,664,664,664,664,664,664,664,664,664,664,664,664,664,664,664,657,650,651
1,Angels & Demons,670,670,670,670,670,670,670,670,670,670,670,670,670,670,670,667,663,660
17,The Red Tent (Bestselling Backlist),723,723,723,723,723,723,723,723,723,723,723,723,723,723,723,721,715,693
3,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,740,740,740,740,740,740,740,740,740,740,740,740,740,740,739,731,724
18,The Secret Life of Bees,774,774,774,774,774,774,774,774,774,774,774,774,774,774,774,770,762,751
2,Bridget Jones's Diary,815,815,815,815,815,815,815,815,815,815,815,815,815,815,815,809,801,788
13,The Nanny Diaries: A Novel,828,828,828,828,828,828,828,828,828,828,828,828,828,828,828,822,818,800
0,A Painted House,838,838,838,838,838,838,838,838,838,838,838,838,838,838,838,836,827,808
9,The Da Vinci Code,898,898,898,898,898,898,898,898,898,898,898,898,898,898,898,891,890,882
12,The Lovely Bones: A Novel,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295,1291,1273,1227
22,Wild Animus,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2502,2494,2414,2473

Building a Book-User Matrix

In [ ]:
user_book_df = df.drop(["Unnamed: 0", "location","age", "isbn", "rating", "book_author", "year_of_publication", "publisher", "img_m", "img_l", "img_s", "Summary", "city", "Language","Category", "state", "country"], axis=1)
user_book_df

In [ ]:
user_matrix = pd.get_dummies(user_book_df["book_title"])
user_matrix

In [ ]:
combined_df = pd.concat([user_book_df,user_matrix], axis=1)
combined_df.drop(['book_title'], axis=1, inplace=True)
combined_df

In [ ]:
groups = combined_df.groupby('user_id')
groups

In [ ]:
book_matrix = groups.sum()
book_matrix.head()

In [ ]:
book_matrix.reset_index(level=0, inplace=True)

In [ ]:
book_matrix.drop(['user_id'], axis=1, inplace=True)
book_matrix

In [ ]:
y = book_matrix["The Testament"]
y

In [ ]:
X = book_matrix.drop("The Testament", axis=1)
X.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)

In [ ]:
# Transform the training and testing data using the X_scaler and y_scaler models

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Loop through different k values to see which has the highest accuracy
# Note: We only use odd numbers because we don't want any ties
train_scores = []
test_scores = []
for k in range(1, 100, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y_train)
    train_score = knn.score(X_train_scaled, y_train)
    test_score = knn.score(X_test_scaled, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
    
plt.plot(range(1, 100, 2), train_scores, marker='o')
plt.plot(range(1, 100, 2), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy Score")
plt.show()

In [ ]:
# Note that k: 13 seems to be the best choice for this dataset
knn = KNeighborsClassifier(n_neighbors=15)
knn.fit(X_train_scaled, y_train)
print('k=13 Test Acc: %.3f' % knn.score(X_test_scaled, y_test))

In [ ]:
new_iris_data = [[0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1]]
predicted_class = knn.predict(new_iris_data)
print(predicted_class)